.header{
    background-color: black;
    color: white;
    font-family: "Latin Modern Roman";
    font-size: xx-large;
    padding: 1%;
    text-align: center;
    font-style: oblique;
    
}

.container{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    font-family: "Latin Modern Roman";
    font-style: oblique;

}

a{
    color: white;
}

body{
    background-color: burlywood;
    font-family: "Latin Modern Roman";
}

footer {
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: darkblue;
  }
.img1{

    width: 30em;
    height: 590px;
    

}

#carrusel{


    display: flex;

    justify-content: center;

}

#carrusel {
    float:left;
    width:600px;
    overflow:hidden;
    height:203px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 195px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
    height: 100%;
}
 
.product {
    border:#CCCCCC 1px solid;
}
