.header{
    background-color: black;
    color: white;
    font-family: "Latin Modern Roman";
    font-size: xx-large;
    padding: 1%;
    text-align: center;
    font-style: oblique;
    
}

.container{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    font-family: "Latin Modern Roman";
    font-style: oblique;

}

a{
    color: white;
}

body{
    background-color: burlywood;
    font-family: "Latin Modern Roman";
}

footer {
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: darkblue;
  }